body, html {
    width: 100%;
    height: 100%;
}
.main-container {
    background-color: #434243;
    min-height: 100%;
    display: flex;
}
.content-cart {
    margin-top: 130px;
    max-height: 730px;
    margin-left: auto;
    margin-bottom: 10px;
    width: 50%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #282728;
    background-color: #302f30;
    overflow-y: auto;
}
#cart-window-scroll::-webkit-scrollbar {
    width: 5px;
    background-color: #302f30;
    border-radius: 10px;
    border-width: 3px;
    border-color: #282728;
}
#cart-window-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #626262;
}
.item {
    text-align: center;
    margin: 10px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
    width: auto;
    height: 70px;
}

.cart-image {

}

.cart-image image {
    width: 100%;
    height: auto;
}

.cart-header {
    text-align: center;
    margin: 30px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
}

.cart-title {
    font-weight: bold;
    font-size: 20px;
    color: silver;
}

.title-in-cart {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.cart-btn {
    height: 35px;
    width: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #282728;
    border-radius: 10px;
    background-color: #434243;
    color: silver;
}
.cart-btn:hover {
    color: black;
    background-color: #fc7474;
}

.form-order {
    text-align: center;
    margin-top: 130px;
    margin-left: 5px;
    margin-right: auto;
    height: min-content;
    width: 600px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #282728;
    overflow-y: auto;
    background-color: #302f30;
}

.send-button {
    margin-bottom: 35px;
    margin-top: 35px;
    height: 35px;
    width: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #282728;
    border-radius: 10px;
    background-color: #434243;
    color: silver;
}

.send-button:hover {
    color: black;
    background-color: lawngreen;
}

.order-point {
    text-align: center;
    margin-top: 35px;
    margin-right: 10px;
    margin-left: 35px;
    font-size: 20px;
    display: block;
    color: silver;
}
.order-point-del {
    text-align: center;
    display: block;
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 20px;
    color: silver;
}

.input-del {
    width: 300px;
    height: auto;
    background-color: #434243;
    color: white;
    border-radius: 5px;
    border-color: #282728;
}
.cart-empty {
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width: 800px;
    color: silver;
}
.title-empty {
    font-size: 40px;
    text-align: center;
    margin-bottom: auto;
    margin-top: 40%;
}