<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="store/sto.css">
    <title></title>
</head>
<body>
<div id="up" class="flex-container">
    <div class="category">
        <label class="category-title">Категории</label>
        <button class="category-btn" ng-repeat="c in category" ng-click="sortByCategory(c.title)">{{c.title}}</button>
    </div>
        <div class="main-container">
            <div ng-repeat="p in productData.content" class="container">
                <div class="cart-box">
                    <div class="title">
                    <img class="store-image" src="https://economic-definition.com/Preview_Figures/150/080/1099254284-kak_pravilo__to_chto_proizvodit_sya_posredstvom_trudovoy_deyatel_nosti_mozhet_byt__ispol_zovano_dlya_bartera.jpg"></div>
                    <div class="title-product">{{p.title}}</div>
                    <div class="price-title">{{p.price}}</div>
                </div>
                <button ng-click="addToCart(p.id)"  class="cart-button">В корзину</button>
            </div>
        </div>

</div>
<div class="navigable-pages">
    <ul class="pagination">
        <li class="page-item li-item">

                <a class="page-link wrapper-a" aria-label="Previous" ng-click="loadPrevious()">
                    <span aria-hidden="true">&laquo;</span>
                </a>

        </li>

        <li class="page-item li-item" ng-repeat="p in pagesArray">
            <button class="page-link wrapper-a" ng-click="loadProducts(p)">{{p}}</button>

        </li>

        <li class="page-item li-item">
            <a class="page-link wrapper-a" aria-label="Next" ng-click="loadNext()">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>

</div>
</body>
</html>


