<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="registration/registration.css">
    <title></title>
</head>
<body>
<div class="main-container">
    <div class="reg-container">
        <div class="reg-title">Регистрация</div>
        <div class="ctnr">
            <form ng-submit="tryToRegistration()">
                <div class="mb-3">
                    <div class="reg-label">Логин</div>
                    <input type="text" class="reg-input" placeholder="  Введите логин" ng-model="new_user.username">
                </div>
                <div class="mb-3">
                    <div class="reg-label">Пароль</div>
                    <input class="reg-input" placeholder="  Введите пароль" ng-model="new_user.password" type="password">
                </div>
                <div class="mb-3">
                    <div class="reg-label">Email</div>
                    <input type="text" class="reg-input" placeholder="  Введите email" ng-model="new_user.email">
                </div>
                <div class="div-btn">
                    <button class="reg-btn" id="navLoginSubmit" type="submit">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>






