<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="auth/auth.css">
    <title></title>
</head>
<body>
<div class="main-container">

</div>

</body>




<!--<div-->
<!--     style="background-color: white; box-shadow: 0px 0px 5px 5px silver;  width: 400px;  margin:100px auto;">-->

<!--    <form ng-submit="tryToRegistration()">-->
<!--        <div style="font-family: 'Times New Roman'">-->
<!--            <p align="center" style="font-size: 30px; padding-top: 40px;"><b>Регистрация</b></p>-->
<!--            <p align="center" style="color: silver; align-content: center">Пожалуйста зарегистрируйтесь</p>-->
<!--            <div style="background-color: white; margin: 0px 60px auto; font-family: 'Times New Roman'">-->
<!--                <span style="font-size: 20px; padding-top: 15px; margin-top: 50px; "><b>Логин</b></span><br>-->
<!--                <input placeholder="Введите логин" ng-model="new_user.username" type="text"-->
<!--                       style=" border-radius: 5px; width: 270px; height: 40px;font-size: 20px"><br>-->
<!--                <span align="center" style="font-size: 20px; padding-top: 15px; margin-top: 50px; "><b>Пароль</b></span><br>-->
<!--                <input placeholder="Введите пароль" ng-model="new_user.password" type="password"-->
<!--                       style="border-radius: 5px; width: 270px; height: 40px;font-size: 20px"><br>-->
<!--                <span align="center" style="font-size: 20px; padding-top: 15px; margin-top: 50px; "><b>Email</b></span><br>-->
<!--                <input placeholder="Введите email" ng-model="new_user.email" type="text"-->
<!--                       style="border-radius: 5px; width: 270px; height: 40px;font-size: 20px"><br>-->
<!--                <button class="btn-test" id="navLoginSubmit"-->
<!--                        style="margin-bottom: 30px; margin-left: 30px; width: 200px; height: 40px;-->
<!--                           margin-top: 25px;"-->
<!--                        type="submit">Зарегистрироваться-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

