<div>
    <h1>Регистрация</h1>
    <p></p>
    <form class="row g-3" ng-submit="tryToRegistration()">
        <div class="col-auto">
            <label>Логин</label>
            <input type="text" class="form-control" placeholder="Login" ng-model="new_user.username">
        </div>
        <div class="col-auto">
            <label>Пароль</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="new_user.password">
        </div>
        <div class="col-auto">
            <label>email</label>
            <input type="text" class="form-control" placeholder="email" ng-model="new_user.email">
        </div>
        <p></p>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Зарегистрироваться</button>
        </div>
    </form>
</div>