body, html {
    width: 100%;
    height: 100%;
}
.main-container {
    background-color: #434243;
    min-height: 100%;
    display: flex;

}
.auth-form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    background-color: #302f30;
    border-radius: 5px;
    border-color: #333233;
    height: 500px;
    width: 400px;
}
.auth-title{
    margin: 50px 10px 50px 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.form-title{
    font-size: 20px;
    color: silver;
    margin-left: 10px;
    margin-bottom: 10px;
}
.form-control {
    background-color: #434243;
    color: white;
    border-radius: 5px;
    border-color: #282728;

}
.form-control:focus {
    background-color: #434243;
    color: silver;
}
.form-label {
    font-size: 20px;
    color: silver;
    margin-left: 10px;
}

.auth-a {
    color: cornflowerblue;
}
.auth-btn {
    margin-top: 30px;
    background-color: #434243;
    color: silver;
    font-size: 17px;
    border-color: #302f30;
    border-width: 1px;
    border-radius: 5px;
    width: 120px;
    height: 35px;
}
.auth-btn:hover {
    color: white;
}
.auth-btn:active{
    background-color: #3b3a3b;
}
.auth-container {
    margin-right: 20px;
    margin-left: 20px;
}
.form-center {
    margin-top: 20px;
    text-align: center;
}