<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="auth/auth.css">
    <title></title>
</head>
<body>
<div class="main-container">
    <div class="auth-form">
        <div class="auth-title">Авторизация</div>
        <div class="auth-container">
            <form novalidate ng-submit="tryToAuth()">
                <div class="mb-3">
                    <label class="form-label">Логин</label>
                    <input type="text" class="form-control" placeholder="Введите логин" ng-model="user.username">
                </div>
                <div class="mb-3">
                    <label class="form-label">Пароль</label>
                    <input type="password" class="form-control" placeholder="Введите пароль" ng-model="user.password">
                </div>
                <div class="form-center">
                    <button type="submit" class="auth-btn">Войти</button>
                </div>

            </form>
        </div>
        <div class="form-center">
            <a class="auth-a" href="http://localhost:8100/market-front/?#!/registration">Зарегистрироваться </a>
        </div>
    </div>
</div>
</body>



