<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="create/create.css">
    <title></title>
</head>
<body>
<div class="main-container">
    <div class="form-addProduct">
        <div class="form-name">Форма для создания продукта</div>
        <div class="form-container">
            <form novalidate ng-submit="createNewProduct()">
                <label class="form-label">Категория</label>
                <select id="categoryId" class="form-select">
                    <option value="{{c.title}}" ng-repeat="c in category">{{c.title}}</option>
                </select>
                <p></p>
                <div class="mb-3">
                    <label class="form-label">Название</label>
                    <input type="text" class="form-control" placeholder="Название продукта" ng-model="new_product.title">
                </div>
                <div class="mb-3">
                    <label class="form-label">Цена</label>
                    <input type="text" class="form-control" placeholder="Цена за единицу продукта" ng-model="new_product.price">
                </div>
                <div class="form-center">
                    <button type="submit" class="form-btn">Добавить</button>
                </div>
            </form>
        </div>
    </div>

</div>

</body>



